---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: millionwatts-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-origin: "https://mohammad.dev/"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
spec:
  tls:
    - hosts:
      - mohammad.dev
      - api.mohammad.dev
      - marcusboay.dev
      # - api.marcusboay.dev
      secretName: millionwatts-kubernetes-tls
  rules:
    - host: mohammad.dev
      http:
        paths:
          - backend:
              serviceName: modev
              servicePort: 80
    - host: api.mohammad.dev
      http:
        paths:
          - path: /auth
            backend:
              serviceName: modev-auth
              servicePort: 80
          - path: /portfolio
            backend:
              serviceName: modev-portfolio
              servicePort: 80
          - path: /photography
            backend:
              serviceName: modev-photography
              servicePort: 80
    - host: marcusboay.dev
      http:
        paths:
          - backend:
              serviceName: marcusdev
              servicePort: 80